h1 {
    font-size: 5rem;
    color: #fefefe;
    -webkit-text-stroke-width: 5px;
    letter-spacing: 3px;
}

.grid-12 {
    border-left: 1.5px solid #7413dc;
    border-bottom: 1.5px solid #7413dc;
}

.grid-11 {
    border-right: 1.5px solid #7413dc;
    border-bottom: 1.5px solid #7413dc;
}

.grid-22 {
    border-left: 1.5px solid #7413dc;
    border-top: 1.5px solid #7413dc;
}

.grid-21 {
    border-right: 1.5px solid #7413dc;
    border-top: 1.5px solid #7413dc;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100vw;
    border-bottom: 3px solid #7413dc;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.125);
    background-blend-mode: color;
    text-align: center;
    background-image: url('../images/scouthut.jpg');
    background-position: center;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 40vh);
    margin-bottom: 3rem;
}

.text-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    overflow-y: none;
}

.text-grid h4 {
    position: relative;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    width: 90%;
    font-size: 2.5rem;
    top: -10%;
}

.text-grid p {
    position: relative;
    font-size: 1.9rem;
    height: 50%;
    width: 90%;
    top: -10%;
}

.img-grid img {
    width: 100%;
    height: 100%;
}

#church_link {
    color: #23a950;
    text-decoration: underline;
}
#church_link:visited {
    color: #23a950;
    text-decoration: underline;
}

#smalltext {
    font-size: 1.5rem;
}

#smalltext2 {
    font-size: 1.15rem;
}
#smalltext3 {
    font-size: 1.65rem;
}

/* Medium Sized Screens */
@media screen and (max-width: 1300px) {
    h1 {
        font-size: 4rem;
    }

    .title-div {
        height: 18rem;
    }

    main {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 35vh);
    }

    .text-grid {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .text-grid h4 {
        font-size: 1.7rem;
        line-height: 1.2;
    }

    .text-grid p {
        font-size: 1.5rem;
        overflow-y: scroll;
    }

    .text-grid p::-webkit-scrollbar {
        width: 0;
    }

}



/* Small Sized Screens */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .title-div {
        height: 12rem;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .text-grid {
        height: fit-content;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        border-bottom: 3px solid #7413dc;
        margin: 0;
    }

    .text-grid h4 {
        font-size: 1.5rem;
        line-height: 1.5;
        top: 0%;
    }

    .text-grid p {
        font-size: 1.5rem;
        overflow: hidden;
    }



    .img-grid {
        background-color: #7413dc;
    }

    .last-text-grid {
        border-bottom: 0px;
    }

    .grid-22 {
        border-top: 1.5px solid #7413dc;
    }
    
    .grid-21 {
        border-bottom: 1.5px solid #7413dc;
    }

    #smalltext {
        font-size: 1.5rem;
    }
    
    #smalltext2 {
        font-size: 1.5rem;
    }
    #smalltext3 {
        font-size: 1.5rem;
    }

}