.title-div {
    background-image: url('../images/ocean-backgroud.jpg');
    background-position: center;
}

@media screen and (max-width: 768px) {

    .grid-11 {
        background-image: url('../images/ocean-life.jpg');
        overflow: hidden;
    }

    .grid-22 {
        background-image: url('../images/ocean-garbage.jpg');
        overflow: hidden;
    }

    .grid-31 {
        background-image: url('../images/ocean-sustainability.jpg');
        overflow: hidden;
    }
}