* {
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    color: #006ddf;
    overflow-x: clip;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fefefe;
}

::-webkit-scrollbar-thumb {
    background: #e22e12;
}

::-webkit-scrollbar-thumb:hover {
    background: #003982;
}

h1 {
    font-size: 5rem;
    color: #23a950;
}

h2 {
    font-size: 2rem;
    color: #23a950;
}

header {
    z-index: 50;
    font-weight: bold;
    position: sticky;
    height: 5rem;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    background-color: #003982;
    border-bottom: 2px solid #006ddf;
}

header h2:hover {
    border-style: solid;
    border-bottom-width: 2px;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    list-style-type: none;
}

.not-goals-link:hover {
    scale: 1.3;
}

#goals {
    cursor: pointer;
}

.sub li:hover {
    font-weight: 800;
    scale: 1.05;
    margin: 0 5px;
    transition: all ease-in-out 100ms;
}

.sub li {
    height: 1.5rem;
    border-bottom: 2px solid #006ddf;
}

.hidden-nav {
    transform: translateX(100vw) !important;
}

.sub {
    position: absolute;
    width: 22rem;
    border-left: 2px solid #006ddf;
    border-bottom: 2px solid #006ddf;
    padding: 0.5rem;
    border-bottom-left-radius: 5px;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #fefefe;
    margin-top: 2.1rem;
    transform: translate(0);
    transition: all 500ms ease-in-out;
}

footer {
    display: flex;
    min-height: 3rem;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #006ddf;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #003982;
    color: #006ddf;
}

a {
    text-decoration: none;
    color: #fefefe;
}

a:visited {
    color: #fefefe;
}

.current-page {
    border-bottom: 4px solid #e22e12;
    transition: all 500ms ease-in-out;
}

#logo {
    height: 100%;
}

.not-goals-link {
    color: #fefefe;
}

#goals {
    color: #fefefe;
}

.sub a, .sub a:visited {
    color: #23a950;
}

.dev_link, .dev_link:visited {
    color: #006ddf;
}

.contact-link, .contact-link:visited {
    border-bottom: 4px solid #e22e12;
}

@media screen and (max-width: 500px) {
    .sub {
        width: 99vw; 
        transition: all 300ms ease-in-out;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 2px solid #006ddf;
        border-bottom: 2px solid #006ddf;
        border-right: 2px solid #006ddf;
    }

    .hidden-nav {
        transform: translateX(100vw) !important;
    }

    h1 {
        font-size: 3rem;
    }
}