h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
    margin-bottom: 3.5rem;
    justify-content: center;
    align-items: center;
}

.about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20rem;
    row-gap: 10px;
    max-width: calc(90vw / 3);
}

.about-box img {
    max-height: 15rem;
    min-height: 15rem;
    max-width: 15rem;
    min-width: 15rem;
    object-fit: cover;
    border-radius: 50%;
    border: 8px double #0b4f6c;
    transition: all 200ms ease-in-out;
}

.about-box img:hover {
    border-radius: 10px;
    border: 4px solid #0b4f6c;
    scale: 1.15;
    margin-bottom: 1rem;
}

.about-box h3 {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 5px solid #e22e12;
    transition: border-width 300ms ease-in-out;
}

.about-box p {
    text-align: center;
    width: 80%;
}

#mw-link {
    color: #23a950;
    text-decoration: underline;
}
#mw-link:visited {
    color: #23a950;
    text-decoration: underline;
}

.invis {
    color: white;
}

.about-jacob img {
    background-color: #f2f2f2;
}

.about-krasi img {
    background-color: #f2f2f2;
}

@media screen and (max-width: 1200px) {

    h1 {
        margin-bottom: 1.5rem;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-box {
        width: 100%;
        padding-bottom: 10px;
    }

    .about-box img {
        height: 12rem;
    }

}